* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   /* 保证padding不会使盒子变大*/
}

body {
    color: #2d2d2d;
}

em, i {
    font-style: normal  /*字体格式正常*/
}

ul li {
    list-style: none   
}

img {
    border: 0;
    vertical-align: middle   /* 让图片后的文字居中对齐 */
}

button {
    cursor: pointer     
}

a {
    text-decoration: none;  /*删除下划线*/
}

button, input , textarea{
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    /* 默认边框需要手动去掉 */
    border: 0;
    outline: none;

}

.hide, .none {
    display: none;  /*隐藏*/
}

/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}

.clearfix {
    *zoom: 1;
}

/* 滚动条的宽度 */
.el-table__body-wrapper::-webkit-scrollbar {
    width: 5px;
}

/* 滚动条的滑块 */
.el-table__body-wrapper::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 3px;
}

/* hover滚动条的滑块 */
.el-table__body-wrapper::-webkit-scrollbar-thumb:hover{
  background-color: #c7c9cf;
  cursor: pointer;
}

/* 悬浮效果 */
.illustration_img{
    animation: illustration 2s infinite alternate;
}
@keyframes illustration {
    from{
      top: 0px;
    }
    to{
      top: 10px;
    }
  }